@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background:linear-gradient(rgb(133, 15, 224)  10%, 40%, rgb(109, 5, 116) 80%);
    /* background-color: #1378de; */
    
}
h1{
    text-align: center;
    font-weight:600;
    font-size: 8vh;
    font-family: 'Poppins';
}
.heard{
    font-size: 2vw;
    color: #000;
    text-align: center;
    height: 11vh;
    
}
.nav-bar-link{
     position: fixed;
     width: 100%;
     height: 10vh;
  }
  
.link {
    float: left;
    width: 20%;
    background-color: #c90f0f;

  }
  
.link a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;

}
  
.link a:hover {
background-color: #111;
}
.section-one{
    background:linear-gradient(rgb(0, 0, 0)  10%, 40%, blue 80%);
    height: 90vh;
    padding-top:10vh ;
} 
.my-home{
    width: 90vw;
    height: 70vh;
    margin: 5vh;
    margin-left: 2vw;
    padding-top:1vh ;
    /* background:linear-gradient(rgb(233, 41, 24)  10%, 40%, rgb(3, 3, 73) 80%); */
    /* box-shadow: 1vh 1vw; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(24, 8, 18, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    align-items: center;
    /* background-image: url(./img/background\ 1.jpeg) */
}
.my-home h2{
    text-align:left;
    font-weight:500;
    font-size: 5vh;
    font-family: Georgia, serif;
    margin-top: 2vh;
    font-variation-settings: "wght" 400;
}
.my-home h2:hover {
    font-variation-settings: "wght" 600; 
    letter-spacing: 0.5vw;
  }
.my-home h4{
    text-align:left;
    font-weight:500;
    font-size: 3vh;
    font-family: Georgia, serif;
    margin-top: 1vh;
    

}
.my-home p{
    text-align:left;
    font-weight:500;
    font-size: 2vh;
    font-family: Georgia, serif;
    margin-top: 1vh;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.my-poto{
    text-align: center;
    
}
.my-poto img{
    width: 20vw;
    height: 30vh;
    border-radius: 40%;
    box-shadow: 1vh;
    margin-left: 2vh;
    
}

.section-two{
    background:linear-gradient(blue  20%, 40%, rgb(127, 8, 218) 80%);
    height: 100vh;
} 
.section-two-grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-left: 2vh;

}
.section-two-grid .about-poto img{
    --s: 2vh;  /* size of the frame */
    --b: 1.5vh;   /* border thickness */
    --w: 30vw; /* width of the image */
    --c: #721ec1;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
}
.section-two-grid .about-poto img:hover{

    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
     --_i: calc(100% - 2*var(--s));
}
.section-two-grid .about-text{
    font-size: 2.5vh;
    margin: 3vh;
    /* background-color: #547be7; */
    color: #08ca49;
    padding: 2vh;
    height: 50vh;

}
.section-two-grid .about-text h3{
    text-align:center;
    font-family: Georgia, serif;
    margin-top: 2vh;
    
   
}

.section-three{
    background:linear-gradient(rgb(127, 8, 218)  10%, 40%, blue 80%);
    height: 100vh;
}

.qualifications{
    width: 90vw;
    height: 90vh;
    margin-left:5vw ;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   
}
.education-my ,.work-experience-my{
    margin-top: 10vh;
    /* background-color: #08ca49; */

}
.section-three .section-three-eduAndWork{
    width: 90vw;
    max-width: 1000px;
    margin: 2rem auto;
}
.section-three-eduAndWork-item{
    /* background-color: #fff; */
    color: #e98b8b;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);

}
.section-three-eduAndWork-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.section-three-eduAndWork-header::after{
    content: "\002B"; 
    font-size: 2rem;
    position: absolute;
    right: 1rem;

}
.section-three-eduAndWork-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.section-three-eduAndWork-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
   
}


.section-four{
    background:linear-gradient(blue  20%, 40%, rgb(109, 5, 116) 80%);
    height: 100vh;
} 
.project{
    display: grid;
    grid-template-columns: auto auto ;
    /* margin-top: 10vh; */
    margin-left: 5vw;

}
.project-my{
  /* font-family: monospace;
  font-size: 20px;
  display: flex;
   align-items: center;
  justify-content: center;  
  height: 10vh;
  margin:0;
  padding: 0;
  width: 100%; */
    width: 30vw;
    height: 30vh;
    margin: 5vh;
    padding-top:1vh ;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}
.project-my h3{
    text-align: center;
}


  #project-my-toggle{
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: -1;
  }
  
  #project-my-toggle:checked ~ dialog {
    display: block;
  }
  
  label{
    background: rgb(223, 99, 21);
    color: white;
    padding: 1.5vh,1.5vw;
    border-radius: 4px;
   
    text-align: center;

  }
  label[for="project-my-toggle"] {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  dialog label[for="project-my-toggle"] {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  dialog{
    animation: appear 350ms ease-in 1;
    width: 80vw;
    height: 80vh;
    margin-left: 6vw;
  
  }
  dialog .dialog-box{
    align-items: center;
    margin-top: 3vh;
    margin-left: 2vw;
    width: 76vw;
    height: 70vh;
    background-color: #721ec1;
  }

  .project-poto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Adjust the height as needed */
    /* background-color: #f0f0f0; */
  }
  
  /* Style for the image inside .project-poto */
  .project-poto img {
    width: 100%; /* Set the width you prefer */
    height: 100%; /* Set the height you prefer */
    object-fit: cover; /* Maintain aspect ratio and cover container */
  padding: 2px;}








.section-five{
    background:linear-gradient(rgb(109, 5, 116)  10%, 40%, blue 80%);
    height: 100vh;
    margin-top: 20vh;
    
}
.section-five-con{
    width: 90vw;
    height: 90vh;
    margin-left:5vw ;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   }
 
.content-my{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    
    
}
.contact-my-con{
    display: grid;
    grid-template-columns: auto,auto;

    height: 10vh;
    margin: 5%;
    /* background-color: #111; */
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */

}

.footer{
    height:10vh ;
    background-color: #000;

}





  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 102px;
  }

  

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(190, 31, 19);
    }
    .heard{
        font-size: 2vw;
        color: #000;
        text-align: center;
        height: 5vh;
        
    }
    .my-home{
        width: 90vw;
        height: 80vh;
        margin: 2vh;
        padding-top:1vh ;
        background-color: rgb(15, 173, 107);
        box-shadow: 1vh 1vw;
        align-items: center;
    }
    h1{
        text-align: center;
        font-weight:400;
        font-size: 4vh;
        font-family: Georgia, serif;
    }
  }
  