@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #1378de; */
    color: #fff;
}
h1{
    text-align: center;
    font-weight:600;
    font-size: 8vh;
    font-family: 'Poppins';
}
.heard{
    font-size: 2vw;
    color: #000;
    text-align: center;
    height: 11vh;
    
}
.nav-bar-link{
     position: fixed;
     width: 100%;
     height: 10vh;
  }
  
.link {
    float: left;
    width: 25%;
    background-color: #c90f0f;

  }
  
.link a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;

}
  
.link a:hover {
background-color: #111;
}
.section-one{
    background:linear-gradient(black  10%, 40%, blue 80%);
    height: 90vh;
    padding-top:10vh ;
} 
.my-home{
    width: 90vw;
    height: 70vh;
    margin: 5vh;
    padding-top:1vh ;
    background:linear-gradient(rgb(233, 41, 24)  10%, 40%, rgb(3, 3, 73) 80%);
    /* box-shadow: 1vh 1vw; */
    
    box-shadow: rgba(24, 8, 18, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    align-items: center;
    /* background-image: url(./img/background\ 1.jpeg) */
}
.my-home h2{
    text-align:left;
    font-weight:500;
    font-size: 5vh;
    font-family: Georgia, serif;
    margin-top: 2vh;
    font-variation-settings: "wght" 400;
}
.my-home h2:hover {
    font-variation-settings: "wght" 600; 
    letter-spacing: 0.5vw;
  }
.my-home h4{
    text-align:left;
    font-weight:500;
    font-size: 3vh;
    font-family: Georgia, serif;
    margin-top: 1vh;
    

}
.my-home p{
    text-align:left;
    font-weight:500;
    font-size: 2vh;
    font-family: Georgia, serif;
    margin-top: 1vh;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.my-poto{
    text-align: center;
}
.my-poto img{
    width: 20vw;
    height: 30vh;
    border-radius: 40%;
    box-shadow: 1vh;
    margin-left: 2vh;
    
}

.section-two{
    background:linear-gradient(blue  20%, 40%, rgb(127, 8, 218) 80%);
    height: 100vh;
} 
.section-two-grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-left: 2vh;

}
.section-two-grid .about-poto img{
    --s: 2vh;  /* size of the frame */
    --b: 1.5vh;   /* border thickness */
    --w: 30vw; /* width of the image */
    --c: #721ec1;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
}
.section-two-grid .about-poto img:hover{

    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
     --_i: calc(100% - 2*var(--s));
}
.section-two-grid .about-text{
    font-size: 3vh;
    margin: 2vh;
    background-color: #547be7;
    color: #08ca49;
    padding: 2vh;

}
.section-two-grid .about-text h3{
    text-align:center;
    font-family: Georgia, serif;
    margin-top: 2vh;
   
}
  


.section-three{
    background:linear-gradient(rgb(127, 8, 218)  10%, 40%, blue 80%);
    height: 100vh;
} 
.section-three .section-three-edu{
    width: 90vw;
    max-width: 1000px;
    margin: 2rem auto;
}
.section-three-edu-item{
    /* background-color: #fff; */
    color: #e98b8b;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);

}
.section-three-edu-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.section-three-edu-header::after{
    content: "\002B"; 
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.section-three-edu-body{max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.section-three-edu-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
   
}


.section-four{
    background:linear-gradient(blue  10%, 40%, black 90%);
    height: 100vh;
} 
 
.content{
    
}








  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 102px;
  }

  

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(190, 31, 19);
    }
    .heard{
        font-size: 2vw;
        color: #000;
        text-align: center;
        height: 5vh;
        
    }
    .my-home{
        width: 90vw;
        height: 80vh;
        margin: 2vh;
        padding-top:1vh ;
        background-color: rgb(15, 173, 107);
        box-shadow: 1vh 1vw;
        align-items: center;
    }
    h1{
        text-align: center;
        font-weight:400;
        font-size: 4vh;
        font-family: Georgia, serif;
    }
  }
  